
@charset "UTF-8";

:root {
  --main-bg-color: #669900;
  --hover_color: #669900;
  --alert_color: #990000;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}

.site-wrapper-inner {
  vertical-align: middle;
}
